@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #fff;
  --first: #011a3a;
  --second: #08469b;
  --third: #F5F7F6;
  --fourth: #908f8f;
  --fiveth: #C1ED11;
  --sixth: #c1ed1126;
  --seventh: #ef9800;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 
header {
  background-color: var(--first);
  color: var(--white);
} */

button:hover {
  cursor: pointer;
}